@inject ApiClient ApiService

<div>
    @if (subscribed)
    {
        <FluentButton Appearance="Appearance.Accent"
        IconEnd="@(new Icons.Filled.Size20.News())"
        @onclick="Unsubscribe"
        Title="Unsubscribe from Newsletter">
            Unsubscribe
        </FluentButton>
    }
    else
    {
        <FluentButton Appearance="Appearance.Accent"
        IconEnd="@(new Icons.Regular.Size20.News())"
        @onclick="Subscribe"
        Title="Subscribe to Newsletter">
            Subscribe
        </FluentButton>
    }
</div>
@code {
    private bool subscribed;

    [Parameter, EditorRequired]
    public EventCallback<bool> SubscribeChanged { get; set; }

    private async Task Subscribe()
    {
        if (subscribed) return;

        await ApiService.SubscribeToNewsletter("marqdouj@outlook.com");
        subscribed = true;

        await SubscribeChanged.InvokeAsync(subscribed);
    }

    private async Task Unsubscribe()
    {
        if (subscribed is false) return;

        await ApiService.UnSubscribeToNewsletter("marqdouj@outlook.com");
        subscribed = false;

        await SubscribeChanged.InvokeAsync(subscribed);
    }
}
